body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    height: 100%;
}

main{
    flex: 1;
    padding-top: 1em;
}

form{
    width: 240px; 
    margin: 0 auto; 
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
}

form .login {
    display: flex;
    flex-direction: column;
    border-width: 2px 0 2px 0;
    border-style: solid; 
    border-color: #ff00006b; 
}

form .login2{
    display: flex;
    flex-direction: column;
    gap: 3em;
    border-width: 2px 0 2px 0;
    border-style: solid; 
    border-color: #ff00006b; 
}
form .un{
    margin-top: 10px;
}

form p{
    margin: 10px 0 10px 0;
}

input {
    border: 1px solid #0b0b0b;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
}

button {
    background: #ff00006b;
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-secondary {
    background: #ff00006b;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

/* Général pour le conteneur de la section des produits */
.products-section {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    margin: 20px;
    padding: 10px;
}

/* Chaque carte produit */
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 200px; 
    max-width: 100%; 
    padding: 15px;
    transition: transform 0.2s ease-in-out;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px; 
    margin-bottom: 10px;
}


.product-details h2 {
    font-size: 18px;
    color: #333;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

.product-details .product-price {
    font-size: 16px;
    color: red; 
    font-weight: bold;
    margin: 0;
    text-align: center;
}