*{
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;    
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1;
    padding-top: 1em;
    box-sizing: border-box; 
}

/* Header */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222c4;
    color: white;
    padding: 10px;
    border-bottom: 5px solid red;
}

nav img{
    width: 10%;
    height: auto;
}

nav ul {
    list-style: none; 
    display: flex; 
    gap: 1.5em; 
    padding: 0; 
    margin: 0; 
}

nav ul li {
    white-space: nowrap;
}

nav ul li a {
    text-decoration: none; 
    color: #ffffff; 
}

nav ul li a:focus {
    text-decoration: underline;
    font-weight: bold;
}

/* Footer */
.site-footer {
    background-color: #222222c4;
    color: #fff; 
    text-align: center;
    padding: 20px; 
    border-top: 5px solid red; 
    font-size: 14px; 
}

.site-footer p {
    margin: 10px 0; 
    line-height: 1.6; 
}

.site-footer .company-name {
    font-weight: bold; 
    font-size: 16px;
    text-transform: uppercase; 
}

.site-footer .slogan {
    font-style: italic; 
    color: red; 
}

